.cta {
  position: relative;
  min-height: 100vh;
  // @include mq($from: tablet) {
  //   background-image: radial-gradient(
  //     circle farthest-corner at 50% 110%,
  //     rgba(255, 173, 138, 0.58),
  //     transparent 25%
  //   );
  // }

  .cta_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .cta_content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: 5rem;
        margin: 0;
        font-weight: 600;
        letter-spacing: -2px;
        white-space: nowrap;
        color: rgb(82, 82, 82);
        @include mq($until: tablet) {
          font-size: 3.5rem;
        }
      }

      h2 {
        margin: 0;
        padding: 0.75rem 0;
        font-size: 2rem;
        letter-spacing: -1px;
        line-height: 130%;
        color: $whiteBlack;
        @include mq($until: tablet) {
          font-size: 1.345rem;
          font-weight: 400;
        }
      }
    }
  }
}
