.headline {
  position: relative;
  background: #fafbfc;
  border-bottom: 1px solid #eaeaea;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .headline-container {
    max-width: 55vw;
    text-align: center;

    @include mq($until: desktop) {
      max-width: 95vw;
    }
    h1 {
      color: $whiteBlack;
      letter-spacing: -1px;
      line-height: 110%;
      font-weight: 500;

      @include mq($until: desktop) {
        max-width: 95vw;
        font-size: 2rem;
        line-height: 130%;
      }
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}
